.cardItem {
  background-color: rgb(63, 62, 62);
  color: white;
  border-radius: 0.4rem;
  padding: 0.5rem;
  height: 40vh;
  width: 15vw;
  gap: 0.7rem;
  display: flex;
  flex-direction: column;
}

.cardImg {
  width: 100%;
  height: auto;
}

.cardSubContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.8rem;
  align-items: center;
}
.itemCounterContainer {
  display: flex;
  gap: 0.5rem;
}

.itemContainerBtn {
  background-color: blue;
  padding: 4px 9px;
  border-radius: 4.2px;
  cursor: pointer;
}
.itemContainerField {
  background-color: white !important;
  padding: 5px 10px;
  border-radius: 5px;
  color: black !important;
  font-weight: bold;
}
#nameAndBrand {
  width: 100%;
  white-space: nowrap; /* Prevent text from wrapping to next line */
  overflow: hidden; /* Hide overflowing text */
  text-overflow: ellipsis;
}

.rate-input {
  width: 3.9rem;
  border: 1px solid white;
  background-color: white;
  color: black;
  font-weight: bold;
  border-radius: 3.3px;
  padding: 0 4px;
}
