body {
  background-color: #f8f7f6;
  position: relative;
}

#inventoryContainer {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  width: 98vw;
  padding: 1rem 2rem;
  gap: 1rem;
  margin: 1rem auto;
  background-color: white;
  border-radius: 1rem;
  height: 83.7vh;
  overflow-y: scroll;
}
