#searchFeatureContainer {
  background-color: white;
  padding: 1rem;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 40%;
}

#inputEl {
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
}
#inputEl:focus {
  outline: none;
}

#searchItemsContainer {
  background-color: #f8f7f6;
  padding: 1rem;
  border-radius: 0.4rem;
  height: 100%;
  width: 100%;
  border-width: 1px;
  border-color: #ebe6e0;
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  gap: 1rem;
  height: 65vh;
  overflow-x: hidden;
  overflow-y: scroll;
}
