body {
  background-color: yellow;
  position: relative;
}

#container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

#search {
  border: 1px solid gray;
  padding: 0.3rem;
  display: flex;
  gap: 0.3rem;
}

#filter {
  border: 1px solid gray;
  padding: 0.3rem;
}

#searchAndFilter {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#input {
  width: 20vw;
  border: none;
}

#productCatalogContainer {
  background-color: white;
  padding: 1rem;
  border-radius: 0.4rem;
  display: flex;
  gap: 1rem;
}

#card {
  background-color: rgb(63, 62, 62);
  color: white;
  border-radius: 0.4rem;
  padding: 1rem;
}

#billDetails {
  background-color: white;
  padding: 1rem;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#billItemsContainer {
  background-color: rgb(79, 78, 78);
  padding: 1rem;
  border-radius: 0.4rem;
  display: flex;
  gap: 1rem;
  color: white;
}
