body {
  margin: 0;
  padding: 0;
}

#nav {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  background-color: rgb(148, 152, 152);
  height: 10vh;
  align-items: center;
}

#nav-ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 1.5rem;
}

#nav-ul li {
  cursor: pointer;
}

#logo {
  width: 32px;
  height: 32px;
}

#main-container {
  display: flex;
  justify-content: space-between;
}

.list-item a {
  text-decoration: none;
}

#nav-logo {
  font-size: 2.5rem;
}
